extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleContact.css

block content
    div.container
        h1 Contact Us
        form(action="/contact", method="post", class="myForm")
            input(type="text", class="myInput", name="name", placeholder="Enter your name")
            input(type="phone", class="myInput", name="phone", placeholder="Enter your phone number")
            input(type="email", class="myInput", name="email", placeholder="Enter your email id")
            input(type="text", class="myInput", name="address", placeholder="Enter your address")
            input(type="text", class="myInput", name="desc", placeholder="Enter your concern")
            button(class="btn")
                | Submit