<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members</title>
  </head>

  <body>
    each p in result
        ul
            li=p.name
            li=p.age
  </body>
  //- Harry bhai please don't mind about styling 
</html>

